.App {
  margin: 40px;
}


.main-card {
  border: solid rgb(87, 87, 87) 1px;
}

.pro-img {
  height: 230px;
}

.title {
  height: 60px;
}

#truncated-heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
